 /* Nav Bar */




        ul {
            
            list-style-type: none;
            margin: 0 ;
            padding: 0 ;
            position:static;
            top: 0;
            width: 100%;
            overflow: hidden;
            background-color: #343434;
            
    }
        

    /* Where one name goes after the other */
        li {
        float: left;
    }
    
    /* Add a gray right border to all list items, except the last item (last-child) */
        li {
        border-right: 1px solid #bbb;
    }
        
        li:last-child {
        border-right: none;
    }
    
    /* The Font  */
        li a {
            display: flex;
            text-align:center;
            color: white;
            padding: 15px 20px;
            text-decoration: none;
    }

    /* Hover */
        li a:hover {
            background-color: #C2C2C2;
    }


h1 {
    size: 150%;
    color: #007e7e;
}

h2 {
    color: #007e7e;
    size: 130%;
}

body {
    font-family: Verdana, Helvetica, Arial, Sans-Serif;

}

p {
    line-height: 1.6em;
    
}

.guarantee {
    background-color: #a7cece;
    border: dotted 3px;
    border-color: white;
    font-family: Georgia, Times New Roman, Times, serif;
    font-style: italic;
    color: #444444;
    line-height: 1.9em;
    padding: 25px;
    padding-left: 80px;
    margin-left: 30px;
    background-image: url(images/star.gif);
    background-repeat: no-repeat;
    
    
}