        /* CSS Starts */
    
   /* Nav Bar */
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 ;
            position: fixed;
            top: 0;
            width: 100%;
            overflow: hidden;
            background-color: #343434
            
    }
        

    /* Where one name goes after the other */
        li {
        float: left;
    }
    
    /* Add a gray right border to all list items, except the last item (last-child) */
        li {
        border-right: 1px solid #bbb;
    }
        
        li:last-child {
        border-right: none;
    }
    
    /* The Font  */
        li a {
            display: flex;
            text-align:center;
            color: white;
            padding: 15px 20px;
            text-decoration: none;
    }

    /* Hover */
        li a:hover {
            background-color: #C2C2C2;
    }
   
    body {
    background: url(images/dad.png);
    min-height: auto;
    background-size: cover;
 }
   
.footer {
    background-color: #00fffa;
    box-shadow: 2px 2px 2px 2px;
    
 }
 

.text {
    text-align:center
    !important
    
}

.padding {
    padding:12px 24px
    !important
}
    
.middle {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    }

.border
{border:3px solid #ccc
!important
    }
    
.wide {
    letter-spacing:4px
    }

.text-grey{
    color:#f1f1f1
    !important
    }
    
.center {
    text-align:center
    !important
}


.xxxlarge {
    font-size:48px
    !important
}

.hide-large {
    display:none
    !important
}

.image {
    max-width:100%;
    height:auto;
    }

.button {
    cursor: pointer;
    transition: all 0.8s;
    overflow: hidden;
    
}

 .button:hover {
    background-color: #C2C2C2;
    color: white;
    opacity: 0.5;
     
     }

.aks {
    visibility: hidden;
}

.snow{
    background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'),
    url('http://www.wearewebstars.dk/codepen/img//s2.png'),
    url('http://www.wearewebstars.dk/codepen/img//s3.png');
    height: 100%;
    position: absolute;
    width: 100%;
    z-index:1;
    -webkit-animation: snow 10s linear infinite;
    -moz-animation: snow 10s linear infinite;
    -ms-animation: snow 10s linear infinite;
    animation: snow 10s linear infinite;
    }
    @keyframes snow {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          50% {background-position: 500px 500px, 100px 200px;}
          100% {background-position: 500px 1000px, 200px 400px;}
    }
    @-moz-keyframes snow {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          50% {background-position: 500px 500px, 100px 200px;}
          100% {background-position: 500px 1000px, 200px 400px;}
    }
    @-webkit-keyframes snow {
          0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
          50% {background-position: 500px 500px, 100px 200px;}
          100% {background-position: 500px 1000px, 200px 400px;}
}
